<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Labels</key>
	<string>Scaling Factor λ
Local Mode Frequencies ω^{a} [cm^{-1}]
Normal Mode Frequencies ω_{μ} [cm^{-1}]
</string>
	<key>Text</key>
	<string></string>
</dict>
</plist>
